.find-header .header-right .divider-line {
  color: #de483d;
}
.find-content {
  width: 63.18000000000001rem;
  height: 100%;
  padding: 0.22rem 0 0.28rem;
}
.find-content .card-item {
  position: relative;
  float: left;
  width: 5.94rem;
  height: 100%;
  margin-left: 0.28rem;
  background-color: #fff;
  -ms-box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  -ms-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.1rem;
}
.find-content .card-item:first-child {
  margin-left: 0.63rem;
}
.find-content .card-item.read-card {
  text-align: center;
}
.find-content .card-item.read-card .book-info {
  padding: 0.84rem 0 0;
}
.find-content .card-item.read-card .book-info .book-cover {
  height: 3.42rem;
  margin: 0 auto;
  background-image: url("../img/book.png");
  background-size: 2.38rem 3.42rem;
  background-position: center;
  background-repeat: no-repeat;
}
.find-content .card-item.read-card .book-info .book-name {
  max-height: 1.66rem;
  padding: 0.32rem 0.35rem 0.16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.find-content .card-item.read-card .user-info {
  position: absolute;
  width: 100%;
  color: #717677;
  bottom: 0.65rem;
}
.find-content .card-item.read-card .user-info .user-icon {
  width: 0.72rem;
  height: 0.72rem;
  margin: 0 auto;
  background-image: url("../img/usericon.jpg");
  background-size: 0.72rem 0.72rem;
  background-repeat: no-repeat;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.find-content .card-item.read-card .user-info .user-name {
  padding: 0.3rem 0 0.4rem;
}
.find-content .card-item.find-card {
  padding-top: 0.97rem;
  text-align: center;
}
.find-content .card-item.find-card .find-bg {
  width: 100%;
  height: 3.1rem;
  background-image: url("../img/find_bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.find-content .card-item.find-card .find-title {
  color: #2186e9;
  padding-top: 0.41rem;
}
.find-content .card-item.find-card .btn {
  width: 4.3rem;
  position: absolute;
  bottom: 0.97rem;
  left: 50%;
  margin-left: -2.15rem;
}
.find-content .card-item.hot-card {
  text-align: center;
  padding-top: 0.62rem;
}
.find-content .card-item.hot-card .hot-book {
  padding-top: 0.45rem;
}
.find-content .card-item.hot-card .hot-book .book-cover {
  height: 2.5rem;
  background-image: url("../img/book.png");
  background-size: 1.74rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.find-content .card-item.hot-card .hot-book .book-name {
  max-height: 1.185rem;
  padding: 0.24rem 0.35rem 0.16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.find-content .card-item.hot-card .other-hot-book {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0.56rem;
  text-align: center;
}
.find-content .card-item.hot-card .other-hot-book .book-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 0.56rem 0.56rem;
}
.find-content .card-item.hot-card .other-hot-book .book-list .book-item {
  width: 1.26rem;
}
.find-content .card-item.hot-card .other-hot-book .book-list .book-item .book-cover {
  height: 1.82rem;
  background-image: url("../img/book.png");
  background-size: 1.26rem 1.82rem;
  background-repeat: no-repeat;
  background-position: center;
}
.find-content .card-item.hot-card .other-hot-book .book-list .book-item .book-name {
  height: 0.86rem;
  padding: 0.2rem 0.06rem 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.find-content .card-item.topic-card {
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.find-content .card-item.topic-card .topic {
  display: flex;
  padding: 0.34rem 0.34rem 0.34rem;
  padding-right: 0.4rem;
  background-color: #f8f9fb;
}
.find-content .card-item.topic-card .topic .topic-content {
  padding-right: 0.45rem;
}
.find-content .card-item.topic-card .topic .topic-content .topic-title {
  padding: 0.2rem 0 0.1rem;
}
.find-content .card-item.topic-card .topic .topic-icon {
  width: 0.88rem;
  height: 2.09rem;
  background-image: url("../img/topic_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.find-content .card-item.topic-card .comment {
  display: flex;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
}
.find-content .card-item.topic-card .comment:first-child {
  background: #f00;
}
.find-content .card-item.topic-card .comment .user-icon {
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 0.65rem;
  height: 0.65rem;
  margin-right: 0.28rem;
  background-image: url("../img/usericon.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.find-content .card-item.topic-card .comment .comment-box {
  display: flex;
  position: relative;
  width: 3.8rem;
  padding: 0.24rem;
  background-color: #f8f9fb;
}
.find-content .card-item.topic-card .comment .comment-box:before {
  position: absolute;
  content: '';
  width: 0.2rem;
  height: 0.2rem;
  top: 0.25rem;
  left: -0.1rem;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #f8f9fb;
}
.find-content .card-item.topic-card .comment .comment-box .comment-content {
  flex: 1;
  overflow: hidden;
}
.find-content .card-item.topic-card .comment .comment-box .comment-content .comment-text {
  font-size: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.find-content .card-item.topic-card .comment .comment-box .voice-icon {
  width: 0.22rem;
  height: 100%;
  flex-shrink: 0;
  margin-left: 0.2rem;
  background-image: url("../img/voice-icon.png");
  background-size: 0.22rem;
  background-repeat: no-repeat;
  background-position: center;
}
.find-content .card-item.topic-card .comment.comment-right .user-icon {
  margin-right: 0;
  margin-left: 0.28rem;
}
.find-content .card-item.topic-card .comment.comment-right .comment-box:before {
  left: 100%;
  margin-left: -0.1rem;
}
.find-content .card-item.topic-card .comment.comment-right .comment-box .voice-icon {
  margin-right: 0.2rem;
  margin-left: 0;
}
.find-content .card-item.topic-card .btn {
  margin-top: 0.35rem;
}
.find-content .card-item.money-card {
  padding-top: 0.67rem;
  text-align: center;
  color: #2186e9;
}
.find-content .card-item.money-card .money-title {
  height: 1.3rem;
  padding-top: 0.45rem;
  text-align: center;
  background-image: url("../img/money_bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.find-content .card-item.money-card .money-content {
  height: 4.95rem;
  background-image: url("../img/money_bg_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.find-content .card-item.money-card .money-content .money {
  padding-top: 1.45rem;
  font-size: 0.95rem;
}
.find-content .card-item.money-card .btn-group {
  position: absolute;
  bottom: 0.78rem;
}
.find-content .card-item.money-card .btn-group .btn:first-child {
  margin-bottom: 0.3rem;
}
.find-content .card-item.recommend-card {
  padding: 0.6rem 0.5rem 0;
}
.find-content .card-item.recommend-card .recommend-title {
  color: #2186e9;
  text-align: center;
  height: 1.28rem;
  padding-top: 0.3rem;
  background-image: url("../img/recommend_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.find-content .card-item.recommend-card .recommend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.32rem;
}
.find-content .card-item.recommend-card .recommend-list .book {
  width: 1.42rem;
  padding-top: 0.32rem;
}
.find-content .card-item.recommend-card .recommend-list .book .book-cover {
  height: 2.05rem;
  background-image: url("../img/book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.find-content .card-item.recommend-card .recommend-list .book .book-name {
  height: 0.9rem;
  padding-top: 0.18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.find-content .card-item.recommend-card .btn {
  position: absolute;
  width: 4.12rem;
  padding: 0.3rem 0;
  bottom: 0.62rem;
  left: 50%;
  margin-left: -2.06rem;
}
.find-content .card-item.radio-card {
  display: flex;
  flex-direction: column;
}
.find-content .card-item.radio-card .radio-bg {
  flex: 1;
  -ms-border-radius: 0.1rem 0.1rem 0 0;
  -webkit-border-radius: 0.1rem 0.1rem 0 0;
  -moz-border-radius: 0.1rem 0.1rem 0 0;
  border-radius: 0.1rem 0.1rem 0 0;
  background-image: url("../img/radio_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.find-content .card-item.radio-card .radio {
  text-align: right;
  padding: 0.46rem 0.38rem 0.5rem 0;
}
.find-content .card-item.radio-card .radio .radio-des {
  padding-bottom: 0.22rem;
}
.find-content .card-item.share-card {
  text-align: center;
  padding: 0.6rem 0.5rem 0;
}
.find-content .card-item.share-card .share-des {
  color: #717677;
  padding: 0.3rem 0 0.12rem;
}
.find-content .card-item.share-card .share-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.find-content .card-item.share-card .share-list .book {
  width: 1.4rem;
  padding-top: 0.56rem;
}
.find-content .card-item.share-card .share-list .book .book-cover {
  height: 2rem;
  background-image: url("../img/book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.find-content .card-item.share-card .share-list .book .book-name {
  height: 0.9rem;
  padding: 0.18rem 0.1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.find-content .card-item.share-card .btn {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  margin-left: -2.47rem;
}
.find-content .card-item.friend-card {
  padding: 0.5rem 0 0.46rem;
}
.find-content .card-item.friend-card .friend-title {
  position: relative;
  text-align: center;
  color: #717677;
  margin-bottom: 1.08rem;
}
.find-content .card-item.friend-card .friend-title:before {
  position: absolute;
  content: '';
  width: 0.44rem;
  height: 0.06rem;
  top: 100%;
  left: 50%;
  background-color: #717677;
  margin-left: -0.22rem;
  margin-top: 0.22rem;
}
.find-content .card-item.friend-card .friends {
  position: relative;
  height: 6.05rem;
}
.find-content .card-item.friend-card .friends .friend-item {
  position: absolute;
  text-align: center;
  font-size: 0;
}
.find-content .card-item.friend-card .friends .friend-item .user-icon {
  margin: 0 auto;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url("../img/usericon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.find-content .card-item.friend-card .friends .friend-item .user-name {
  max-width: 2.1rem;
  height: 0.52rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.12rem 0 0.1rem;
}
.find-content .card-item.friend-card .friends .friend-item .user-des {
  display: inline-block;
  color: #fff;
  padding: 0.05rem 0.15rem;
  background-color: #2186e9;
  -ms-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend1 {
  top: 0;
  left: 1.69rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend1 .user-icon {
  width: 1.62rem;
  height: 1.62rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend2 {
  top: 1.5rem;
  right: 0.65rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend2 .user-icon {
  width: 1.24rem;
  height: 1.24rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend3 {
  top: 2.8rem;
  left: 0.6rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend3 .user-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend4 {
  bottom: 0;
  right: 1.45rem;
}
.find-content .card-item.friend-card .friends .friend-item.friend4 .user-icon {
  width: 1.05rem;
  height: 1.05rem;
}
.find-content .card-item.friend-card .friend-num {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.05rem;
  text-align: center;
  color: #2186e9;
}
.find-content .card-item.friend-card .friend-num span {
  position: relative;
  display: inline-block;
  font-size: 0.24rem;
  padding-left: 0.06rem;
}
.find-content .card-item.friend-card .friend-num span:before {
  position: absolute;
  content: '';
  width: 0.08rem;
  height: 0.08rem;
  left: 100%;
  top: 50%;
  margin-left: 0.06rem;
  border: 1px solid transparent;
  border-right-color: #717677;
  border-top-color: #717677;
  -ms-transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}
